body{
    background-size: 2000px;
    background-position-x: center;   
    background-repeat: repeat-x;
    opacity: 30;
    background-image: url("https://images.pexels.com/photos/589840/pexels-photo-589840.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.container-wrapper{
    background-color: #333;
    padding:25px;
    max-width:550px;
    width:100%;
    text-align:center;
    border-radius:20px;
    margin:0 auto;
    margin-top:15%;
}
.text-center1{
    display: inline;
}
#h{
    color: turquoise;
    font-weight: bolder;
    font-size: larger;
    font-size: 50px;
}
#m{
    color: cornflowerblue;
    font-weight: bolder;
    font-size: larger;
    font-size: 50px;
}
#s{
    color:cyan ;
    font-weight: bolder;
    font-size: larger;
    font-size: 50px;
}
#time{
    color: crimson;
    font-weight: bolder;
    font-size: larger;
    font-size: 50px;

}
#date{
    font-weight: bolder;
    color: tomato;
    
}
.days{
    display: inline;
    font-weight: bolder;
    color: cornsilk;
    
}
small{
    margin-left: 5px;
    border-radius: 5px;
    
    border-width: 2px;
}